@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900|Roboto:100,300,400,500,700,900&display=swap&subset=chinese-traditional');
@import url("datepicker.css");
@import url("treeEditor.css");
@import url("treeComboBoxEditor.css");
@import url("multiFileUploader.css");
@import url("tabLayout.css");
@import url("comboBox.css");
@import url("comboCheckBox.css");
@import url("text.css");
@import url("checkGroup.css");
@import url("label.css");
@import url("window.css");
@import url("checkBox.css");

/*參數面版*/

/*
.comboBox-choicedown {
  border-radius: 3px;
  background-color: #0986ff;
}

.comboBox-choicedown > div:nth-child(1) {
  width: calc(100% - 30px) !important;
  height: 100% !important;
  border: none;
  overflow: initial;
  background: transparent;
}

.comboBox-choicedown div:nth-child(1) input {
  width: 100% !important;
  height: 100% !important;
  padding: 0px 8px !important;
  border: none;
  line-height: 100%;
  font-family: Roboto, "Noto Sans TC", "Microsoft JhrngHei", sans-serif;
  color: #fcfcfc;
  background-color: rgba(6, 22, 33, 0.4);
}

.comboBox-choicedown div:nth-child(1) input:-moz-placeholder {
  color: #389eff;
}
.comboBox-choicedown div:nth-child(1) input::-moz-placeholder {
  color: #389eff;
}
.comboBox-choicedown div:nth-child(1) input:-ms-input-placeholder {
  color: #389eff;
}
.comboBox-choicedown div:nth-child(1) input::-webkit-input-placeholder {
  color: #389eff;
}

.comboBox-choicedown div:nth-child(2) {
  position: absolute !important;
  width: 30px !important;
  height: 100% !important;
  right: 0px;
  border: none;
  background-image: linear-gradient(to bottom, rgba(9, 163, 255, 0.5) 0%, rgba(9, 134, 255, 0.9) 100%);
  box-shadow: 0px 0px 15px 1px rgba(47, 121, 206, 0.1), 0px 0px 15px 1px rgba(200, 240, 255, 0.4) inset;
}

.comboBox-choicedown div:nth-child(2):hover {
  background-color: rgba(9, 200, 255, 0.7);
}

.comboBox-choicedown div:nth-child(2):active {
  background-color: rgba(9, 100, 255, 0.7);
}

.comboBox-choicedown div:nth-child(2) div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 6px 0 6px;
  border-color: #fff transparent transparent transparent;
  background: none;
  margin-top: 0 !important;
}

.btn-done {
  background-image: linear-gradient(to bottom, rgba(9, 163, 255, 0.5) 0%, rgba(9, 134, 255, 0.9) 100%);
  box-shadow: 0px 0px 15px 1px rgba(47, 121, 206, 0.1), 0px 0px 15px 1px rgba(200, 240, 255, 0.4) inset;
}

.btn-done button {
  width: 100%;
  height: 100% !important;
  color: #fcfcfc;
}

.btn-done:hover {
  background-color: rgba(9, 200, 255, 0.7);
}

.btn-done:active {
  background-color: rgba(9, 100, 255, 0.7);
}

.para-container {
  position: relative;
  background-color: #061621 !important;
}

.para-container .fr-horizontalboxlayout:nth-child(2) {
  position: relative;
  width: 100vw;
  border-bottom: 1px solid rgba(0, 212, 255, 0.6);
  background-image: linear-gradient(to bottom, rgba(9, 163, 255, 1) 0%, rgba(9, 134, 255, 1) 40%, rgba(9, 107, 207, 1) 100%);
  box-sizing: border-box;
}*/




/*一般按鈕*/
.button {
  border-radius: 3px;
}

.button .fr-btn-up {
  border-radius: 3px;
  background-color: currentColor;
}

.button button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100% !important;
  font-weight: 500;
  color: currentColor;
  letter-spacing: 1px;
}

.button button::first-line, .button.black button::first-line {
  color: #fcfcfc;
}

.button.lightgray button::first-line, .button.white button::first-line {
  color: #151515;
}

.button.white {
  box-shadow: 0 0 1px 1px rgba(21, 21, 21, 0.1);
}

.button.black {
  box-shadow: 0 0 1px 1px rgba(252, 252, 252, 0.15);
}

.button .fr-btn-over {
  background-image: -webkit-linear-gradient(to top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
}

.button.white .fr-btn-over {
  background-image: -webkit-linear-gradient(to top, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05));
}

/*圓角按鈕*/
.button-halfO {
  border-radius: 1000px;
}

.button-halfO .fr-btn-up {
  border-radius: 1000px;
}

.button-lhalfO {
  border-radius: 1000px 0px 0px 1000px;
}

.button-lhalfO .fr-btn-up {
  border-radius: 1000px 0px 0px 1000px;
}

.button-mhalfO {
  border-radius: 0px;
}

.button-mhalfO .fr-btn-up {
  border-radius: 0px;
}

.button-rhalfO {
  border-radius: 0px 1000px 1000px 0px;
}

.button-rhalfO .fr-btn-up {
  border-radius: 0px 1000px 1000px 0px;
}

.button-thalfO {
  border-radius: 1000px 1000px 0px 0px;
}

.button-thalfO .fr-btn-up {
  border-radius: 1000px 1000px 0px 0px;
}

.button-bhalfO {
  border-radius: 0px 0px 1000px 1000px;
}

.button-bhalfO .fr-btn-up {
  border-radius: 0px 0px 1000px 1000px;
}

/*圖按按鈕*/
.button-pic .fr-btn-up, .button-textNpic .fr-btn-up {
  vertical-align: initial;
  text-align: initial;
}

.button-pic .fr-btn-up:after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 15px);
  content: url("../default/svg/pic.svg");
}

.button-textNpic {
  
}

.button-textNpic .fr-btn-up:before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 5px;
  width: 20px;
  content: url("../default/svg/pic.svg");
}

.button-textNpic button {
  font-size: calc(100% + 6px);
}






/*
.btn-border {
  border: 2px solid #0986ff;
  background-color: transparent;
}

.btn-border button {
  width: 100%;
  height: 100% !important;
  font-family: Roboto, "Noto Sans TC", "Microsoft JhrngHei", sans-serif;
  color: #0986ff;
}

.btn-border:hover {
  background-color: rgba(56, 158, 255, 0.5);
}

.btn-border:hover button {
  color: #fcfcfc;
}

.btn-border:active, .btn-border:focus {
  background-color: #389eff;
}

.btn-border:active button, .btn-border:focus button {
  color: #fcfcfc;
}*/

/*滾動條*/
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
  background: rgb(235, 235, 235);
}
::-webkit-scrollbar-thumb {
  background: rgb(9, 134, 255);
}



