@charset "UTF-8";

/*單選按鈕組*//*複選按鈕組*/
.radioGroup, .checkBoxGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background: #fcfcfc;
  box-sizing: border-box;
}

.radioGroup .fr-group-span, .checkBoxGroup .fr-group-span {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.radioGroup .fr-group-span div, .checkBoxGroup .fr-group-span div {
  border: none;
}

.radioGroup .fr-group-span div span, .checkBoxGroup .fr-group-span div span {
  display: block;
  width: 100%;
  padding-top: 5px !important;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 0 !important;
  font-weight: 400;
  color: #7d7d7d;
  background: none;
  box-sizing: border-box;
}

.radioGroup .fr-group-span div span:hover, .checkBoxGroup .fr-group-span div span:hover {
  background: rgba(215, 215, 215, 0.25);
}

.radioGroup .fr-group-span div .fr-radio-radiooff, .checkBoxGroup .fr-group-span div .fr-checkbox-checkoff {
  background: none;
}

.radioGroup .fr-group-span div .fr-radio-radioon, .checkBoxGroup .fr-group-span div .fr-checkbox-checkon {
  color: #408ded;
  background: rgba(167, 207, 255, 0.3);
}

.radioGroup .fr-group-span div .fr-radio-radioon:hover, .checkBoxGroup .fr-group-span div .fr-checkbox-checkon:hover {
  background-color: rgba(167, 207, 255, 0.3);
}
