@charset "UTF-8";

/*文字編輯*//*數字編輯*//*文字域*//*密碼*/
.textEditor, .numberEditor, .textArea, .password {
  background-color: #fcfcfc;
  box-sizing: border-box;
}

.textEditor input, .numberEditor input, .textArea textarea, .password input {
  width: 100% !important;
  height: 100% !important;
  border: 1px solid #cccccc;
  border-radius: 3px;
  padding: 8px !important;
  line-height: 100%;
  font-weight: 400;
  color: #7d7d7d;
  letter-spacing: 1.5px;
  background-color: transparent;
  box-sizing: border-box;
}

.textArea textarea {
  padding: 5px 8px !important;
}

.textEditor input::-webkit-input-placeholder, .numberEditor input::-webkit-input-placeholder, .textArea textarea::-webkit-input-placeholder, .password input::-webkit-input-placeholder {
  color: #d8d8d8;
}

.fr-invalid, textarea .fr-invalid {
  border: 1px solid #fd0023 !important;
  background: none !important;
}