@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900|Roboto:100,300,400,500,700,900&display=swap&subset=chinese-traditional');
@import url("datepicker.css");
@import url("treeEditor.css");
@import url("treeComboBoxEditor.css");
@import url("multiFileUploader.css");
@import url("tabLayout.css");
@import url("comboBox.css");
@import url("comboCheckBox.css");
@import url("text.css");
@import url("checkGroup.css");
@import url("label.css");


.body {
  width: 100% !important;
  height: 100% !important;
  background-color: #061621;
}

/*參數面版*/


.comboBox-choicedown {
  border-radius: 3px;
}

.comboBox-choicedown > div:nth-child(1) {
  width: calc(100% - 30px) !important;
  height: 100% !important;
  border: none;
  background-color: transparent;
  overflow: initial;
}

.comboBox-choicedown div:nth-child(1) input {
  width: 100% !important;
  height: 100% !important;
  padding: 0px 8px !important;
  border: 1px solid rgba(0, 212, 255, 0.6);
  border-radius: 3px 0 0 3px;
  line-height: 100%;
  font-family: Roboto, "Noto Sans TC", "Microsoft JhrngHei", sans-serif;
  color: #fcfcfc;
  background: #061621 !important;
  background-image: linear-gradient(to left, rgba(0, 212, 255, 0) 0%, rgba(0, 212, 255, 0.2) 50%, rgba(0, 212, 255, 0) 100%);
  //box-shadow: 0 0 10px 1px rgba(0, 212, 255, 0.9) inset;
  box-sizing: border-box;
}

.comboBox-choicedown div:nth-child(1) input:-moz-placeholder {
  color: #389eff;
}
.comboBox-choicedown div:nth-child(1) input::-moz-placeholder {
  color: #389eff;
}
.comboBox-choicedown div:nth-child(1) input:-ms-input-placeholder {
  color: #389eff;
}
.comboBox-choicedown div:nth-child(1) input::-webkit-input-placeholder {
  color: #389eff;
}

.comboBox-choicedown div:nth-child(2) {
  position: absolute !important;
  width: 30px !important;
  height: 100% !important;
  right: 0px;
  border: 1px solid rgba(0, 212, 255, 0.6) !important;
  border-radius: 0 3px 3px 0;
  background: none;
  background-image: linear-gradient(to left, rgba(0, 212, 255, 0) 0%, rgba(0, 212, 255, 0.2) 50%, rgba(0, 212, 255, 0) 100%);
  box-shadow: 0 0 10px 1px rgba(0, 212, 255, 0.6) inset;
  box-sizing: border-box;
}

.comboBox-choicedown div:nth-child(2):hover {
  background-image: linear-gradient(to left, rgba(0, 212, 255, 0.1) 0%, rgba(0, 212, 255, 0.3) 50%, rgba(0, 212, 255, 0.1) 100%);
}

.comboBox-choicedown div:nth-child(2):active {
  background-image: linear-gradient(to left, rgba(0, 212, 255, 0.2) 0%, rgba(0, 212, 255, 0.4) 50%, rgba(0, 212, 255, 0.2) 100%);
}

.comboBox-choicedown div:nth-child(2) div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 6px 0 6px;
  border-color: #fff transparent transparent transparent;
  background: none;
  margin-top: 0 !important;
}

.btn-done {
  border: 1px solid rgba(0, 212, 255, 0.6);
  border-radius: 3px;
  background: none;
  background-image: linear-gradient(to left, rgba(0, 212, 255, 0) 0%, rgba(0, 212, 255, 0.2) 50%, rgba(0, 212, 255, 0) 100%);
  box-shadow: 0 0 10px 1px rgba(0, 212, 255, 0.6) inset;
  box-sizing: border-box;
}

.btn-done button {
  width: 100%;
  height: 100% !important;
  font-family: Roboto, "Noto Sans TC", "Microsoft JhrngHei", sans-serif;
  color: #fcfcfc;
}

.btn-done:hover {
  background-image: linear-gradient(to left, rgba(0, 212, 255, 0.2) 0%, rgba(0, 212, 255, 0.4) 50%, rgba(0, 212, 255, 0.2) 100%);
}

.btn-done:active {
  background-image: linear-gradient(to left, rgba(0, 212, 255, 0.3) 0%, rgba(0, 212, 255, 0.5) 50%, rgba(0, 212, 255, 0.3) 100%);
}

.para-container {
  position: relative;
  background-color: #061621 !important;
}

.para-container .fr-horizontalboxlayout:nth-child(1) > div {
  //margin-top: 2px;
  width: 30px !important;
  height: 3px !important;
  border: 1px solid rgba(0, 212, 255, 0.3);
  background-color: rgba(6, 22, 33, 0.9);
  background-image: none;
}

.para-container .fr-horizontalboxlayout:nth-child(1), .para-container .fr-horizontalboxlayout:nth-child(2) {
  position: relative;
  width: 100vw;
  border-bottom: 1px solid rgba(0, 212, 255, 0.5);
  background-image: linear-gradient(to left, rgba(0, 212, 255, 0) 0%, rgba(0, 212, 255, 0.2) 50%, rgba(0, 212, 255, 0) 100%);
  box-shadow: 0 0 30px 1px rgba(0, 212, 255, 0.5) inset;
  box-sizing: border-box;
}

.para-container .fr-horizontalboxlayout:nth-child(1) {
  box-shadow: 0 0 30px 1px rgba(0, 212, 255, 0.2) inset;
}

/*按鈕*/
.button {
  border: 1px solid rgba(0, 212, 255, 0.6);
  border-radius: 3px;
  background: none;
  background-image: linear-gradient(to left, rgba(0, 212, 255, 0) 0%, rgba(0, 212, 255, 0.2) 50%, rgba(0, 212, 255, 0) 100%);
  box-shadow: 0 0 10px 1px rgba(0, 212, 255, 0.6) inset;
  box-sizing: border-box;
}

.button button {
  width: 100%;
  height: 100% !important;
  font-family: Roboto, "Noto Sans TC", "Microsoft JhrngHei", sans-serif;
  color: #fcfcfc;
}

.button:hover {
  background-image: linear-gradient(to left, rgba(0, 212, 255, 0.2) 0%, rgba(0, 212, 255, 0.4) 50%, rgba(0, 212, 255, 0.2) 100%);
}

.button:active {
  background-image: linear-gradient(to left, rgba(0, 212, 255, 0.3) 0%, rgba(0, 212, 255, 0.5) 50%, rgba(0, 212, 255, 0.3) 100%);
}

.btn-border {
  border: 2px solid #0986ff;
  background-color: transparent;
}

.btn-border button {
  width: 100%;
  height: 100% !important;
  font-family: Roboto, "Noto Sans TC", "Microsoft JhrngHei", sans-serif;
  color: #0986ff;
}

.btn-border:hover {
  background-color: rgba(56, 158, 255, 0.5);
}

.btn-border:hover button {
  color: #fcfcfc;
}

.btn-border:active, .btn-border:focus {
  background-color: #389eff;
}

.btn-border:active button, .btn-border:focus button {
  color: #fcfcfc;
}




/*滾動條*/
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
  background: rgba(6, 22, 33, 0.9);
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(0, 212, 255, 0.3);
}


/*勾選(複選)框*/
.checkBox {
  border: 1px solid rgba(0, 212, 255, 0.3);
  border-radius: 5px;
  background-color: #061621;
  box-sizing: border-box;
  cursor: pointer;
  overflow: hidden;
}

.checkBox:hover {
  background-color: #1a758a;
}

.checkBox span {
  position: absolute;
  width: 100%;
  margin-left: 0px !important; 
  background: none;
  box-sizing: border-box;
}

.checkBox .fr-checkbox-checkon {
  position: absolute;
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 212, 255, 0.8);
  border-radius: 0 5px 5px 0;
  background-color: rgba(0, 212, 255, 0.7) !important;
  box-sizing: border-box;
}

.checkBox .fr-checkbox-checkon:after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 !important;
  padding: 0 !important;
  width: 20px;
  height: 20px;
  content: " ";
  clip-path: polygon(15% 40%, 30% 30%, 50% 45%, 70% 20%, 85% 25%, 50% 80%);
  background-color: rgba(0, 212, 255, 0.9) !important;
  box-sizing: border-box;
}




.report {

}

.report td {
  position: relative;
  width: 100%;
}

.report-button {
  position: absolute;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 212, 255, 0.6);
  border-radius: 3px;
  font-family: Roboto, "Noto Sans TC", "Microsoft JhrngHei", sans-serif;
  color: #fcfcfc;
  background: none;
  background-image: linear-gradient(to left, rgba(0, 212, 255, 0) 0%, rgba(0, 212, 255, 0.2) 50%, rgba(0, 212, 255, 0) 100%);
  box-shadow: 0 0 10px 1px rgba(0, 212, 255, 0.6) inset;
  box-sizing: border-box;
  cursor: pointer;
}

.report-button:hover {
  background-image: linear-gradient(to left, rgba(0, 212, 255, 0.2) 0%, rgba(0, 212, 255, 0.4) 50%, rgba(0, 212, 255, 0.2) 100%);
}

.report-button:active {
  background-image: linear-gradient(to left, rgba(0, 212, 255, 0.3) 0%, rgba(0, 212, 255, 0.5) 50%, rgba(0, 212, 255, 0.3) 100%);
}

.report-button-focus {
  background-image: linear-gradient(to left, rgba(0, 212, 255, 0.2) 0%, rgba(0, 212, 255, 0.4) 50%, rgba(0, 212, 255, 0.2) 100%);
}

.b1 {
  border: none;
}