.semicircle {
  border-radius: 1000px;
}

.bdrs0 {
  border-radius: 0;
}

.para-container .fr-horizontalboxlayout:nth-child(1) {
  //display: none !important;
}

div[widgetname=BODY] {
  width: 100% !important;
  height: 100% !important;
}

.fr-combo-selected {
  background: none;
}

.rbar {
  border-radius: 0 5px 5px 0;
}

.lbar {
  border-radius: 5px 0 0 5px;
}

.tbar {
 border-radius: 5px 5px 0 0;
}

.bbar {
 border-radius: 0 0 5px 5px;
}