.semicircle {
  border-radius: 1000px;
}

.bdrs0 {
  border-radius: 0;
}

.para-container .fr-horizontalboxlayout:nth-child(1) {
  //display: none !important;
}

div[widgetname=BODY] {
  width: 100% !important;
  height: 100% !important;
}

.fr-combo-selected {
  background: none;
}

.rbar {
  border-radius: 0 5px 5px 0;
}

.lbar {
  border-radius: 5px 0 0 5px;
}

.tbar {
 border-radius: 5px 5px 0 0;
}

.bbar {
 border-radius: 0 0 5px 5px;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
  transition-delay: 99999s;
  transition: color 99999s ease-out, background-color 99999s ease-out;
  -webkit-transition-delay: 99999s;
  -webkit-transition: color 99999s ease-out, background-color 99999s ease-out;
}
input:-internal-autofill-selected {
  -webkit-transition-delay: 99999s;
  -webkit-transition: color 99999s ease-out, background-color 99999s ease-out;
  transition-delay: 99999s;
  transition: color 99999s ease-out, background-color 99999s ease-out;
}