@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900|Roboto:100,300,400,500,700,900&display=swap&subset=chinese-traditional');


/*下拉框*/
.comboBox {

}

.comboBox > div:nth-child(1) {
  width: calc(100% - 30px) !important;
  height: 100% !important;
  border: none;
  overflow: initial;
  background-color: transparent;
}

.comboBox input {
  width: 100% !important;
  height: 100% !important;
  padding: 0px 8px !important;
  border: 1px solid rgba(0, 212, 255, 0.3);
  border-right: none;
  border-radius: 3px 0px 0px 3px;
  line-height: 100%;
  font-family: Roboto, "Noto Sans TC", "Microsoft JhrngHei", sans-serif;
  font-weight: bold;
  color: white;
  background-color: #061621;
  box-sizing: border-box;
}

.comboBox div:nth-child(2) {
  position: absolute !important;
  width: 30px !important;
  height: 100% !important;
  right: 0px;
  border: 1px solid rgba(0, 212, 255, 0.3);
  border-radius: 0px 3px 3px 0px;
  background-color: #061621;
  box-shadow: 0 0 10px 0 rgba(0, 212, 255, 0.3) inset;
  box-sizing: border-box;
}

.comboBox div:nth-child(2):hover {
  background-image: linear-gradient(to left, rgba(0, 212, 255, 0.2) 0%, rgba(0, 212, 255, 0.3) 50%, rgba(0, 212, 255, 0.2) 100%);
}

.comboBox div:nth-child(2):active {
  background-image: linear-gradient(to left, rgba(0, 212, 255, 0.4) 0%, rgba(0, 212, 255, 0.5) 50%, rgba(0, 212, 255, 0.4) 100%);
}

.comboBox div:nth-child(2):active div {
  border-color: rgba(0, 212, 255, 0.7) transparent transparent transparent;
}

.comboBox div:nth-child(2) div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 6px 0 6px;
  border-color: rgba(0, 212, 255, 0.5) transparent transparent transparent;
  background: none;
  margin-top: 0 !important;
}


/*下拉彈出框*/
.fr-combo-list {
  border: 1px solid rgba(0, 212, 255, 0.5);
  border-radius: 0 0 3px 3px;
  background: rgba(6, 22, 33, 0.8) !important;
  box-shadow:  0 0 10px 0 rgba(0, 212, 255, 0.5) inset;
}

.fr-combo-list > div {
  height: 18px;
  padding: 5px;
  border: none !important;
  font-family: Roboto, "Noto Sans TC", "Microsoft JhrngHei", sans-serif;
  font-weight: bold;
  color: rgba(0, 212, 255, 0.7);
  background: none;
}

.fr-combo-list > div:hover {
  border: none !important;
  color: rgba(255, 255, 255, 0.98);
  background: rgba(0, 212, 255, 0.4);
}

.fr-combo-list .fr-combo-list-item-noselect {
  color: rgba(0, 212, 255, 0.3) !important;
}
