.semicircle {
  border-radius: 1000px;
}

.bdrs0 {
  border-radius: 0;
}

.para-container .fr-horizontalboxlayout:nth-child(1) {
  display: none !important;
}

div[widgetname=BODY] {
  width: 100% !important;
  height: 100% !important;
}

.fr-combo-selected {
  background: none;
}

.report-border {
  border-radius: 3px !important;
  border-color: rgba(46, 199, 255, 0.4) !important;
}

.reportContent {
  border-width: 1px !important;
  border-radius: 3px !important;
  border-color: rgba(46, 199, 255, 0.4) !important;
}